input[type="text"] {
  justify-content: center;
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  width: 30%;
  padding: 12px 40px;
  text-align: top;
  border-radius: 10px;
  font-weight: bold;
  /*font-size: 5px;*/
}

.wrapper {
  text-align: center;
}

#btn {
  background-color: rgb(240, 40, 140);	
  color: rgb(239, 237, 243);
  border: none;
  padding: 10px 19px;
  text-decoration: none;
  margin-left: 29px;
  cursor: pointer;
  font-size: 23px;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
}

#d1 {
  border: 8px solid rgba(4, 13, 54, 0.788);
  width: 45%;
  padding: 120px 120px;
  margin: auto;
  height: 10%;
  background-color: rgb(196, 230, 218);
  font-size: 21px;
  overflow: scroll;
  border-radius: 16px;
  font-weight: bold;
  text-align: left;
}
